{
  "$schema": "https://json.schemastore.org/eslintrc.json",
  "extends": [
    "eslint:recommended",
    "plugin:@docusaurus/recommended"
  ],
  "plugins": [
    "@docusaurus"
  ],
  "rules": {
    "@docusaurus/string-literal-i18n-messages": "error",
    "@docusaurus/no-untranslated-text": "warn",
    "@docusaurus/no-html-links": "warn",
    "@docusaurus/prefer-docusaurus-heading": "warn"
  }
}
